<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{basiclayout}"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spreadsheets Page</title>
</head>
<body>

	<div layout:fragment="header">
		<div th:replace="fragments/header :: header(spreadsheets)"></div>
	</div>

	<div layout:fragment="content">
		<a class="btn btn-primary" th:href="@{/spreadsheets/form}" role="button">Create Spreadsheet</a>
	
	    <table class="table table-striped table-hover">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Name</th>
		      <th scope="col" class="table-options-column">Options</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="spreadsheet : ${spreadsheets}">
		      <th scope="row" th:text="${spreadsheet.id}"></th>
		      <td th:text="${spreadsheet.name}"></td>
		      <td class="table-options-column">
		      	<form th:action="@{/spreadsheets/} + ${spreadsheet.id}" th:method="delete" class="form-inline">
			      	<a th:href="@{/spreadsheets/form/} + ${spreadsheet.id}">Edit</a>
		      		<button type="submit" class="btn btn-link">Delete</button>
		      	</form>
		      </td>
		    </tr>
		  </tbody>
		</table>
	</div>
</body>
</html>